.hover {
  transition: var(--transition-property) var(--transition-duration-micro-medium) var(--transition-timing-function);

  &:hover {
    transform: translateX(var(--static-space-4));
  }
}

.contentWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.tableOfContents {
  position: sticky;
  top: 120px;
  height: fit-content;
  min-width: 200px;
  max-width: 250px;

  @media (max-width: 1024px) {
    display: none;
  }
}

.mainContent {
  flex: 1;
  max-width: 800px;
  padding: 0 var(--static-space-16);

  @media (min-width: 1024px) {
    padding-left: var(--static-space-32);
  }
}

/* Ensure sections have proper scroll padding for fixed header */
.mainContent :global([id]) {
  scroll-margin-top: 100px;
}

@media (--s) {
  .textAlign {
    text-align: center;
  }

  .blockAlign {
    align-self: center;
  }

  .mainContent {
    padding: 0 var(--static-space-16);
  }
}
